<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
  <form data-toggle="validator" role="form" method="post" action="https://api.staticman.net/v2/entry/interimm/planiversity/gh-pages">

<input name="options[redirect]" type="hidden" value="https://github.com/InterImm/planiversity/pulls">
     <div class="row">
     <fieldset class="form-group col-sm-6">

            <input class="form-control" type="text" id="company-form[name]" name="fields[name]" placeholder="名字（显示在成员列表）；必填" data-toggle="tooltip" data-placement="left" title="" data-original-title="可以虚构名称"/>

         </fieldset>

      <fieldset class="form-group col-sm-6">

        <input class="form-control" type="text" id="company-form[email]" name="fields[email]" placeholder="邮箱（用于联系作者，不会显示在网站）；必填" required/>


      </fieldset>
   </div>



     <fieldset class="form-group row">
       <div class="col-sm-12">
         <input class="form-control" type="text" id="company-form[field]" name="fields[field]" placeholder="研究领域（例如：行星生态改造）；必填" required/>

       </div>
       </fieldset>

       <!-- <div class="row">
       <fieldset class="form-group col-sm-6">

           <input class="form-control" type="number" id="company-form[founded]" name="fields[founded]" placeholder="企业成立时间（例如：2022）；必填" required/>

         </fieldset>

         <fieldset class="form-group col-sm-6">

            <input class="form-control" type="text" id="company-form[base]" name="fields[base]" placeholder="企业位置（例如：火星南河城）；必填" required/>

          </fieldset>
      </div> -->


       <fieldset class="form-group row">
       <div class="col-sm-12">
       <input class="form-control" type="text" id="company-form[summary]" name="fields[summary]" placeholder="一句话研究简介（例如：通过计算行星生态学来指导行星生态改造）；必填" required/>
    </div>
     </fieldset>

     <fieldset class="form-group row">
       <div class="col-sm-12">
         <input class="form-control" type="text" id="company-form[link]" name="fields[link]" placeholder="研究组网址（例如：http://imresear.ch； 选填；如果填写，必须能够访问）"/>

       </div>
     </fieldset>



     <fieldset class="form-group row">
       <div class="col-sm-12">
         <textarea class="form-control companyabouttextarea" name="fields[proposal]" type="text" maxlength="300" rows= "10" id="company-form[proposal]" placeholder="研究内容（例如：依托行星大学的计算集群，展开针对整个行星的生态系统研究。通过瞬时稳定性分析，可以逐步理解生态系统的稳定性，从而绘制整个行星的生态系统演化相图。制作生态演化快速反馈系统，对行星生态改造进行指导。）；必填；可以使用简单的 Markdown 语法" required></textarea>
         <span class="help-block"><p id="characterLeft" class="help-block ">300 字限制；如需很长的研究内容介绍，可以提交之后在跳转的页面中继续添加，或者直接在我们的 <a href="https://github.com/InterImm/planiversity/issues" target="_blank"><span class="label label-warning">GitHub Issues</span></a> 中添加。 </p></span>
       </div>
     </fieldset>



    <fieldset class="form-group row">
      <button id="company--button" type="submit" style="color:#fdcc52;" class="btn btn-lg" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点击后会跳转到 GitHub 待审核的企业列表，可以添加后续评论。如跳转失败请使用科学上网。">
        提交
      </button>

   </fieldset>


  </form>

</div>
