<section id="explore" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">探索行星大学</h2>
                <p>我们坚信人类终将地走向太空</p>
                <div class="badges">
                   <!-- <p>
                      火星的未来，我们掌握。你们的未来，在这里启航。
                   </p> -->

                    <!-- <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a> -->
                    <!-- <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
