
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>行星大学愿景</h2>
                        <p class="text-muted">开拓新的疆域</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                              <img src="assets/icons/space/4-mars.svg" class="img-responsive" alt="">
                              <div style="margin-top:2em;">
                                 <p class="text-center">
                                    火星，是人类新的开始。<br>厚积薄发，着眼人类未来。
                                 </p>
                              </div>
                        </div>

                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                               <div class="feature-item">
                                   <img src="assets/icons/space/40-telescope.svg" style="width:60%;">
                                   <h3>基础科学</h3>
                                   <p class="text-muted">泛太阳系基础科学合作，更长的基线。</p>
                               </div>

                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="assets/icons/space/20-ufo picture.svg" style="width:60%;">
                                    <h3>系外行星</h3>
                                    <p class="text-muted">遥远的世界，我们梦想所在。</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="assets/icons/space/37-capsule parachute.svg" style="width:60%;">
                                    <h3>火星规划</h3>
                                    <p class="text-muted">生活在火星，规划火星。</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                               <div class="feature-item">
                                   <img src="assets/icons/space/13-planetary.svg" style="width:60%;">
                                   <h3>系统行星生态学</h3>
                                   <p class="text-muted">生态不仅仅为了人类的生存，更是为了生命的和谐。</p>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-8">
                  <h3>Hosts it in the best cloud hosting on the market</h3>
                  <a target="_blank" href="https://m.do.co/c/a29d90274371" style="color:black" class="btn btn-outline btn-xl">Digital Ocean</a>
                </div> -->

            </div>
    </section>
