---
layout: default
---
{%- include lang.html %}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="page-hero">
    <div class="wrap">
      <p class="kicker">{{ t.name }}{% if page.date %} · <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>{% endif %}</p>
      <h1 itemprop="name headline">{{ page.title | escape }}</h1>
      {%- if page.author %}
      <p class="lede" itemprop="author">{{ page.author }}</p>
      {%- endif %}
    </div>
  </header>
  <div class="section uni-page">
    <div class="wrap prose" itemprop="articleBody">
      {{ content }}
    </div>
  </div>
</article>
{%- if page.comments %}
<section class="section">
  <div class="wrap">{% include utterances-comments.html %}</div>
</section>
{%- endif %}
