<div class="columns" style="margin: 1em 0 0 0;">
  <div class="column is-full has-text-centered">
    <h2 class="subtitle is-2" style="text-transform: none;">探索行星大学</h2>
    <!-- <div class="is-divider" style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;"></div> -->
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <div class="tags has-addons">
      <span class="tag is-dark is-large">太空资源</span>
      <span class="tag is-info is-large">探测，开采和运输</span>
    </div>
  </div>

  <div class="column is-one-third">
    <div class="tags has-addons">
      <span class="tag is-dark is-large">火星规划</span>
      <span class="tag is-success is-large">生活在火星，规划火星</span>
    </div>
  </div>

  <div class="column is-one-third">
    <div class="tags has-addons">
      <span class="tag is-dark is-large">太空农业</span>
      <span class="tag is-primary is-large">保障太空生活质量</span>
    </div>
  </div>
</div>
<div class="columns">

  <div class="column is-one-third">
    <div class="tags has-addons">
      <span class="tag is-dark is-large">基础科学</span>
      <span class="tag is-link is-large">泛太阳系合作，更长的基线</span>
    </div>
  </div>

  <div class="column is-one-third">
    <div class="tags has-addons">
      <span class="tag is-dark is-large">行星生态</span>
      <span class="tag is-warning is-large">关注每一个生命</span>
    </div>
  </div>

  <div class="column is-one-third">
    <div class="tags has-addons">
      <span class="tag is-dark is-large">系外行星</span>
      <span class="tag is-danger is-large">遥远的世界，我们终将踏足</span>
    </div>
  </div>

</div>

</div>

</div>
</div>